* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  background: linear-gradient(135deg, #0755a2, #3498db);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background-elements {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: visible;
  z-index: 0;
}

.background-map {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  max-width: 90vw;
  height: auto;
  transform: translate(-50%, -50%);
  opacity: 0.3;
  filter: brightness(1);
  user-select: none;
  pointer-events: none;
  z-index: 1;
}

.container {
  position: relative;
  max-width: 600px;
  padding: 40px 60px;
  background: rgba(86, 140, 155, 0.527);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(14, 12, 46, 0.3);
  text-align: center;
  color: #fff;
  z-index: 10;
}


.riddle {
  font-size: 30px;
  font-weight: 700;
  color: #15053d;
  font-family: 'Pirata One', cursive;
  text-shadow:
    2px 2px 5px rgba(0,0,0,0.5),
    0 0 15px rgba(255,255,255,0.8);
  transform-origin: center center;
  transform: scale(0);
  animation: growFromDot 5s forwards ease-out;
  position: relative;
  padding-bottom: 30px;
}

@keyframes growFromDot {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
